<?xml version="1.0"?>
<launch>

	<arg name="path_save"   default="/home/peter/data"/>
	<arg name="topic"  	default="/scan /imu /velodyne_packets /wireless_data"/>
	<arg name="file_name"  	default="stoTest"/>

	<group ns="record">
		<param name="path_save" type="str" value="$(arg path_save)"	/>
		<param name="topic" 	type="str" value="$(arg topic)"		/>
		<param name="file_name" type="str" value="$(arg file_name)"	/>
		<node name="record_ros" pkg="record_ros" type="record_ros" output="screen" respawn="true"/>
		<node name="pre_check_node" pkg="record_ros" type="pre_check_node" output="screen" respawn="true"/>
	</group>

</launch>

